* {
    margin: 0;
    padding: 0;
  }
  body {
    font-family: sans-serif;
    color: #333;
    text-align: center;
  }
  #menu ul {
    background: #1F568B;
    list-style-type: none;
  }
  #menu li {
    color: #f1f1f1;
    display: inline-block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    margin-left: -5px;
  }
  #menu li {
    color: #f1f1f1;
    float: left;
    width: 120px;
    height: 40px;
    line-height: 40px;
  }
  #menu ul {
    background: blue;
    list-style-type: none;
    overflow: hidden;
    width: 100%;
  }
  #menu a {
    text-decoration: none;
    color: #fff;
    display: block;
  }
  #menu a:hover {
    background: #F1F1F1;
    color: #333;
  }
body p {
  position: relative; 
    text-align: justify;
}
